@font-face {
    font-family: "CascadiaCode";
    src: url("./assets/fonts/cascadia-code/ttf/CascadiaCode.ttf");
    src: url("./assets/fonts/cascadia-code/woff2/static/CascadiaCode-Bold.woff2") format("woff2"),
        url("./assets/fonts/cascadia-code/woff2/static/CascadiaCode-BoldItalic.woff2") format("woff2"),
        url("./assets/fonts/cascadia-code/woff2/static/CascadiaCode-ExtraLight.woff2") format("woff2"),
        url("./assets/fonts/cascadia-code/woff2/static/CascadiaCode-ExtraLightItalic.woff2") format("woff2"),
        url("./assets/fonts/cascadia-code/woff2/static/CascadiaCode-Italic.woff2") format("woff2"),
        url("./assets/fonts/cascadia-code/woff2/static/CascadiaCode-Light.woff2") format("woff2"),
        url("./assets/fonts/cascadia-code/woff2/static/CascadiaCode-LightItalic.woff2") format("woff2"),
        url("./assets/fonts/cascadia-code/woff2/static/CascadiaCode-Regular.woff2") format("woff2"),
        url("./assets/fonts/cascadia-code/woff2/static/CascadiaCode-SemiBold.woff2") format("woff2"),
        url("./assets/fonts/cascadia-code/woff2/static/CascadiaCode-SemiBoldItalic.woff2") format("woff2"),
        url("./assets/fonts/cascadia-code/woff2/static/CascadiaCode-SemiLight.woff2") format("woff2"),
        url("./assets/fonts/cascadia-code/woff2/static/CascadiaCode-SemiLightItalic.woff2") format("woff2"),
        url("./assets/fonts/cascadia-code/woff2/static/CascadiaCodePL-Bold.woff2") format("woff2"),
        url("./assets/fonts/cascadia-code/woff2/static/CascadiaCodePL-BoldItalic.woff2") format("woff2"),
        url("./assets/fonts/cascadia-code/woff2/static/CascadiaCodePL-ExtraLight.woff2") format("woff2"),
        url("./assets/fonts/cascadia-code/woff2/static/CascadiaCodePL-ExtraLightItalic.woff2") format("woff2"),
        url("./assets/fonts/cascadia-code/woff2/static/CascadiaCodePL-Italic.woff2") format("woff2"),
        url("./assets/fonts/cascadia-code/woff2/static/CascadiaCodePL-Light.woff2") format("woff2"),
        url("./assets/fonts/cascadia-code/woff2/static/CascadiaCodePL-LightItalic.woff2") format("woff2"),
        url("./assets/fonts/cascadia-code/woff2/static/CascadiaCodePL-Regular.woff2") format("woff2"),
        url("./assets/fonts/cascadia-code/woff2/static/CascadiaCodePL-SemiBold.woff2") format("woff2"),
        url("./assets/fonts/cascadia-code/woff2/static/CascadiaCodePL-SemiBoldItalic.woff2") format("woff2"),
        url("./assets/fonts/cascadia-code/woff2/static/CascadiaCodePL-SemiLight.woff2") format("woff2"),
        url("./assets/fonts/cascadia-code/woff2/static/CascadiaCodePL-SemiLightItalic.woff2") format("woff2"),
        url("./assets/fonts/cascadia-code/woff2/static/CascadiaMono-Bold.woff2") format("woff2"),
        url("./assets/fonts/cascadia-code/woff2/static/CascadiaMono-BoldItalic.woff2") format("woff2"),
        url("./assets/fonts/cascadia-code/woff2/static/CascadiaMono-ExtraLight.woff2") format("woff2"),
        url("./assets/fonts/cascadia-code/woff2/static/CascadiaMono-ExtraLightItalic.woff2") format("woff2"),
        url("./assets/fonts/cascadia-code/woff2/static/CascadiaMono-Italic.woff2") format("woff2"),
        url("./assets/fonts/cascadia-code/woff2/static/CascadiaMono-Light.woff2") format("woff2"),
        url("./assets/fonts/cascadia-code/woff2/static/CascadiaMono-LightItalic.woff2") format("woff2"),
        url("./assets/fonts/cascadia-code/woff2/static/CascadiaMono-Regular.woff2") format("woff2"),
        url("./assets/fonts/cascadia-code/woff2/static/CascadiaMono-SemiBold.woff2") format("woff2"),
        url("./assets/fonts/cascadia-code/woff2/static/CascadiaMono-SemiBoldItalic.woff2") format("woff2"),
        url("./assets/fonts/cascadia-code/woff2/static/CascadiaMono-SemiLight.woff2") format("woff2"),
        url("./assets/fonts/cascadia-code/woff2/static/CascadiaMono-SemiLightItalic.woff2") format("woff2"),
        url("./assets/fonts/cascadia-code/woff2/static/CascadiaMonoPL-Bold.woff2") format("woff2"),
        url("./assets/fonts/cascadia-code/woff2/static/CascadiaMonoPL-BoldItalic.woff2") format("woff2"),
        url("./assets/fonts/cascadia-code/woff2/static/CascadiaMonoPL-ExtraLight.woff2") format("woff2"),
        url("./assets/fonts/cascadia-code/woff2/static/CascadiaMonoPL-ExtraLightItalic.woff2") format("woff2"),
        url("./assets/fonts/cascadia-code/woff2/static/CascadiaMonoPL-Italic.woff2") format("woff2"),
        url("./assets/fonts/cascadia-code/woff2/static/CascadiaMonoPL-Light.woff2") format("woff2"),
        url("./assets/fonts/cascadia-code/woff2/static/CascadiaMonoPL-LightItalic.woff2") format("woff2"),
        url("./assets/fonts/cascadia-code/woff2/static/CascadiaMonoPL-Regular.woff2") format("woff2"),
        url("./assets/fonts/cascadia-code/woff2/static/CascadiaMonoPL-SemiBold.woff2") format("woff2"),
        url("./assets/fonts/cascadia-code/woff2/static/CascadiaMonoPL-SemiBoldItalic.woff2") format("woff2"),
        url("./assets/fonts/cascadia-code/woff2/static/CascadiaMonoPL-SemiLight.woff2") format("woff2"),
        url("./assets/fonts/cascadia-code/woff2/static/CascadiaMonoPL-SemiLightItalic.woff2") format("woff2"),
        url("./assets/fonts/cascadia-code/ttf/static/CascadiaCode-Bold.ttf") format("ttf"),
        url("./assets/fonts/cascadia-code/ttf/static/CascadiaCode-BoldItalic.ttf") format("ttf"),
        url("./assets/fonts/cascadia-code/ttf/static/CascadiaCode-ExtraLight.ttf") format("ttf"),
        url("./assets/fonts/cascadia-code/ttf/static/CascadiaCode-ExtraLightItalic.ttf") format("ttf"),
        url("./assets/fonts/cascadia-code/ttf/static/CascadiaCode-Italic.ttf") format("ttf"),
        url("./assets/fonts/cascadia-code/ttf/static/CascadiaCode-Light.ttf") format("ttf"),
        url("./assets/fonts/cascadia-code/ttf/static/CascadiaCode-LightItalic.ttf") format("ttf"),
        url("./assets/fonts/cascadia-code/ttf/static/CascadiaCode-Regular.ttf") format("ttf"),
        url("./assets/fonts/cascadia-code/ttf/static/CascadiaCode-SemiBold.ttf") format("ttf"),
        url("./assets/fonts/cascadia-code/ttf/static/CascadiaCode-SemiBoldItalic.ttf") format("ttf"),
        url("./assets/fonts/cascadia-code/ttf/static/CascadiaCode-SemiLight.ttf") format("ttf"),
        url("./assets/fonts/cascadia-code/ttf/static/CascadiaCode-SemiLightItalic.ttf") format("ttf"),
        url("./assets/fonts/cascadia-code/ttf/static/CascadiaCodePL-Bold.ttf") format("ttf"),
        url("./assets/fonts/cascadia-code/ttf/static/CascadiaCodePL-BoldItalic.ttf") format("ttf"),
        url("./assets/fonts/cascadia-code/ttf/static/CascadiaCodePL-ExtraLight.ttf") format("ttf"),
        url("./assets/fonts/cascadia-code/ttf/static/CascadiaCodePL-ExtraLightItalic.ttf") format("ttf"),
        url("./assets/fonts/cascadia-code/ttf/static/CascadiaCodePL-Italic.ttf") format("ttf"),
        url("./assets/fonts/cascadia-code/ttf/static/CascadiaCodePL-Light.ttf") format("ttf"),
        url("./assets/fonts/cascadia-code/ttf/static/CascadiaCodePL-LightItalic.ttf") format("ttf"),
        url("./assets/fonts/cascadia-code/ttf/static/CascadiaCodePL-Regular.ttf") format("ttf"),
        url("./assets/fonts/cascadia-code/ttf/static/CascadiaCodePL-SemiBold.ttf") format("ttf"),
        url("./assets/fonts/cascadia-code/ttf/static/CascadiaCodePL-SemiBoldItalic.ttf") format("ttf"),
        url("./assets/fonts/cascadia-code/ttf/static/CascadiaCodePL-SemiLight.ttf") format("ttf"),
        url("./assets/fonts/cascadia-code/ttf/static/CascadiaCodePL-SemiLightItalic.ttf") format("ttf"),
        url("./assets/fonts/cascadia-code/ttf/static/CascadiaMono-Bold.ttf") format("ttf"),
        url("./assets/fonts/cascadia-code/ttf/static/CascadiaMono-BoldItalic.ttf") format("ttf"),
        url("./assets/fonts/cascadia-code/ttf/static/CascadiaMono-ExtraLight.ttf") format("ttf"),
        url("./assets/fonts/cascadia-code/ttf/static/CascadiaMono-ExtraLightItalic.ttf") format("ttf"),
        url("./assets/fonts/cascadia-code/ttf/static/CascadiaMono-Italic.ttf") format("ttf"),
        url("./assets/fonts/cascadia-code/ttf/static/CascadiaMono-Light.ttf") format("ttf"),
        url("./assets/fonts/cascadia-code/ttf/static/CascadiaMono-LightItalic.ttf") format("ttf"),
        url("./assets/fonts/cascadia-code/ttf/static/CascadiaMono-Regular.ttf") format("ttf"),
        url("./assets/fonts/cascadia-code/ttf/static/CascadiaMono-SemiBold.ttf") format("ttf"),
        url("./assets/fonts/cascadia-code/ttf/static/CascadiaMono-SemiBoldItalic.ttf") format("ttf"),
        url("./assets/fonts/cascadia-code/ttf/static/CascadiaMono-SemiLight.ttf") format("ttf"),
        url("./assets/fonts/cascadia-code/ttf/static/CascadiaMono-SemiLightItalic.ttf") format("ttf"),
        url("./assets/fonts/cascadia-code/ttf/static/CascadiaMonoPL-Bold.ttf") format("ttf"),
        url("./assets/fonts/cascadia-code/ttf/static/CascadiaMonoPL-BoldItalic.ttf") format("ttf"),
        url("./assets/fonts/cascadia-code/ttf/static/CascadiaMonoPL-ExtraLight.ttf") format("ttf"),
        url("./assets/fonts/cascadia-code/ttf/static/CascadiaMonoPL-ExtraLightItalic.ttf") format("ttf"),
        url("./assets/fonts/cascadia-code/ttf/static/CascadiaMonoPL-Italic.ttf") format("ttf"),
        url("./assets/fonts/cascadia-code/ttf/static/CascadiaMonoPL-Light.ttf") format("ttf"),
        url("./assets/fonts/cascadia-code/ttf/static/CascadiaMonoPL-LightItalic.ttf") format("ttf"),
        url("./assets/fonts/cascadia-code/ttf/static/CascadiaMonoPL-Regular.ttf") format("ttf"),
        url("./assets/fonts/cascadia-code/ttf/static/CascadiaMonoPL-SemiBold.ttf") format("ttf"),
        url("./assets/fonts/cascadia-code/ttf/static/CascadiaMonoPL-SemiBoldItalic.ttf") format("ttf"),
        url("./assets/fonts/cascadia-code/ttf/static/CascadiaMonoPL-SemiLight.ttf") format("ttf"),
        url("./assets/fonts/cascadia-code/ttf/static/CascadiaMonoPL-SemiLightItalic.ttf") format("ttf"),
        url("./assets/fonts/cascadia-code/otf/static/CascadiaCode-Bold.otf") format("otf"),
        url("./assets/fonts/cascadia-code/otf/static/CascadiaCode-BoldItalic.otf") format("otf"),
        url("./assets/fonts/cascadia-code/otf/static/CascadiaCode-ExtraLight.otf") format("otf"),
        url("./assets/fonts/cascadia-code/otf/static/CascadiaCode-ExtraLightItalic.otf") format("otf"),
        url("./assets/fonts/cascadia-code/otf/static/CascadiaCode-Italic.otf") format("otf"),
        url("./assets/fonts/cascadia-code/otf/static/CascadiaCode-Light.otf") format("otf"),
        url("./assets/fonts/cascadia-code/otf/static/CascadiaCode-LightItalic.otf") format("otf"),
        url("./assets/fonts/cascadia-code/otf/static/CascadiaCode-Regular.otf") format("otf"),
        url("./assets/fonts/cascadia-code/otf/static/CascadiaCode-SemiBold.otf") format("otf"),
        url("./assets/fonts/cascadia-code/otf/static/CascadiaCode-SemiBoldItalic.otf") format("otf"),
        url("./assets/fonts/cascadia-code/otf/static/CascadiaCode-SemiLight.otf") format("otf"),
        url("./assets/fonts/cascadia-code/otf/static/CascadiaCode-SemiLightItalic.otf") format("otf"),
        url("./assets/fonts/cascadia-code/otf/static/CascadiaCodePL-Bold.otf") format("otf"),
        url("./assets/fonts/cascadia-code/otf/static/CascadiaCodePL-BoldItalic.otf") format("otf"),
        url("./assets/fonts/cascadia-code/otf/static/CascadiaCodePL-ExtraLight.otf") format("otf"),
        url("./assets/fonts/cascadia-code/otf/static/CascadiaCodePL-ExtraLightItalic.otf") format("otf"),
        url("./assets/fonts/cascadia-code/otf/static/CascadiaCodePL-Italic.otf") format("otf"),
        url("./assets/fonts/cascadia-code/otf/static/CascadiaCodePL-Light.otf") format("otf"),
        url("./assets/fonts/cascadia-code/otf/static/CascadiaCodePL-LightItalic.otf") format("otf"),
        url("./assets/fonts/cascadia-code/otf/static/CascadiaCodePL-Regular.otf") format("otf"),
        url("./assets/fonts/cascadia-code/otf/static/CascadiaCodePL-SemiBold.otf") format("otf"),
        url("./assets/fonts/cascadia-code/otf/static/CascadiaCodePL-SemiBoldItalic.otf") format("otf"),
        url("./assets/fonts/cascadia-code/otf/static/CascadiaCodePL-SemiLight.otf") format("otf"),
        url("./assets/fonts/cascadia-code/otf/static/CascadiaCodePL-SemiLightItalic.otf") format("otf"),
        url("./assets/fonts/cascadia-code/otf/static/CascadiaMono-Bold.otf") format("otf"),
        url("./assets/fonts/cascadia-code/otf/static/CascadiaMono-BoldItalic.otf") format("otf"),
        url("./assets/fonts/cascadia-code/otf/static/CascadiaMono-ExtraLight.otf") format("otf"),
        url("./assets/fonts/cascadia-code/otf/static/CascadiaMono-ExtraLightItalic.otf") format("otf"),
        url("./assets/fonts/cascadia-code/otf/static/CascadiaMono-Italic.otf") format("otf"),
        url("./assets/fonts/cascadia-code/otf/static/CascadiaMono-Light.otf") format("otf"),
        url("./assets/fonts/cascadia-code/otf/static/CascadiaMono-LightItalic.otf") format("otf"),
        url("./assets/fonts/cascadia-code/otf/static/CascadiaMono-Regular.otf") format("otf"),
        url("./assets/fonts/cascadia-code/otf/static/CascadiaMono-SemiBold.otf") format("otf"),
        url("./assets/fonts/cascadia-code/otf/static/CascadiaMono-SemiBoldItalic.otf") format("otf"),
        url("./assets/fonts/cascadia-code/otf/static/CascadiaMono-SemiLight.otf") format("otf"),
        url("./assets/fonts/cascadia-code/otf/static/CascadiaMono-SemiLightItalic.otf") format("otf"),
        url("./assets/fonts/cascadia-code/otf/static/CascadiaMonoPL-Bold.otf") format("otf"),
        url("./assets/fonts/cascadia-code/otf/static/CascadiaMonoPL-BoldItalic.otf") format("otf"),
        url("./assets/fonts/cascadia-code/otf/static/CascadiaMonoPL-ExtraLight.otf") format("otf"),
        url("./assets/fonts/cascadia-code/otf/static/CascadiaMonoPL-ExtraLightItalic.otf") format("otf"),
        url("./assets/fonts/cascadia-code/otf/static/CascadiaMonoPL-Italic.otf") format("otf"),
        url("./assets/fonts/cascadia-code/otf/static/CascadiaMonoPL-Light.otf") format("otf"),
        url("./assets/fonts/cascadia-code/otf/static/CascadiaMonoPL-LightItalic.otf") format("otf"),
        url("./assets/fonts/cascadia-code/otf/static/CascadiaMonoPL-Regular.otf") format("otf"),
        url("./assets/fonts/cascadia-code/otf/static/CascadiaMonoPL-SemiBold.otf") format("otf"),
        url("./assets/fonts/cascadia-code/otf/static/CascadiaMonoPL-SemiBoldItalic.otf") format("otf"),
        url("./assets/fonts/cascadia-code/otf/static/CascadiaMonoPL-SemiLight.otf") format("otf"),
        url("./assets/fonts/cascadia-code/otf/static/CascadiaMonoPL-SemiLightItalic.otf") format("otf"),
        url("./assets/fonts/cascadia-code/woff2/CascadiaCode.woff2") format("woff2"),
        url("./assets/fonts/cascadia-code/woff2/CascadiaCodeItalic.woff2") format("woff2"),
        url("./assets/fonts/cascadia-code/woff2/CascadiaCodePL.woff2") format("woff2"),
        url("./assets/fonts/cascadia-code/woff2/CascadiaCodePLItalic.woff2") format("woff2"),
        url("./assets/fonts/cascadia-code/woff2/CascadiaMono.woff2") format("woff2"),
        url("./assets/fonts/cascadia-code/woff2/CascadiaMonoItalic.woff2") format("woff2"),
        url("./assets/fonts/cascadia-code/woff2/CascadiaMonoPL.woff2") format("woff2"),
        url("./assets/fonts/cascadia-code/woff2/CascadiaMonoPLItalic.woff2") format("woff2"),
        url("./assets/fonts/cascadia-code/ttf/CascadiaCodeItalic.ttf") format("ttf"),
        url("./assets/fonts/cascadia-code/ttf/CascadiaCodePL.ttf") format("ttf"),
        url("./assets/fonts/cascadia-code/ttf/CascadiaCodePLItalic.ttf") format("ttf"),
        url("./assets/fonts/cascadia-code/ttf/CascadiaMono.ttf") format("ttf"),
        url("./assets/fonts/cascadia-code/ttf/CascadiaMonoItalic.ttf") format("ttf"),
        url("./assets/fonts/cascadia-code/ttf/CascadiaMonoPL.ttf") format("ttf"),
        url("./assets/fonts/cascadia-code/ttf/CascadiaMonoPLItalic.ttf") format("ttf"),
        url("./assets/fonts/cascadia-code/ttf/CascadiaCode.ttf") format("ttf");
}
