body {
	margin: unset;

	font-family: 'Cascadia Code', monospace;
	font-size: x-large;

	color: azure;
	background-color: #121212;
}

p {
	margin: .9rem;
}

span#lts,
span#gts,
a {
	user-select: none;
}
